{{define "footer"}}
<footer class="footer">
  <a class="footer_element" href="/">Challenge</a>
  <a class="footer_element" href="/community">Community</a>
  <a class="footer_element" href="/history">History</a>
  <a class="footer_element" href="/settings">Settings</a>
</footer>
{{ end }}
